# SPDX-License-Identifier: MIT
[Unit]
Description=Run safo reconcile every day

[Timer]
OnCalendar=daily
RandomizedDelaySec=15m
Persistent=true

[Install]
WantedBy=timers.target
